<head>
  <style>
    body {
      margin: 0;
    }
  </style>

  <script src="//unpkg.com/three"></script>
  <script src="https://unpkg.com/papaparse@5.3.1/papaparse.min.js"></script>
  <script src="//unpkg.com/d3"></script>
  <script src="//unpkg.com/d3-dsv"></script>
  <script src="//unpkg.com/index-array-by"></script>
  <script src="//unpkg.com/globe.gl"></script>
  <script src="//unpkg.com/solar-calculator"></script>
  <style>
    * {
      overflow: hidden;
      height: fit-content;
    }

    .hide {
      visibility: hidden;
    }

    .li:hover+.hide {
      visibility: visible;
      color: red;
    }
  </style>


</head>

<body>
  <div style="width: 100%; background-color: rgba(0, 0, 0, 0.5); color: burlywood; text-align: center; position: fixed; top: 10px; margin-bottom: 10px;
   border-radius: 10px; z-index: 1;">
    <span>Trans-Border Energy Flows</span>
  </div>
  <div style="background-color: rgba(0, 0, 0, 0.5); color: burlywood; text-align: justify; position: fixed;
   margin-top: 50px; z-index: 1; border-radius: 20px;">
    <h4><span style="color: rgba(0, 255, 0, 0.9); z-index: 2;">Ex</span>/<span style="color: rgba(255, 0, 0, 0.9);">Import</span>
    </h4>
    <ul id="NetList" style="font-size: small;">
    </ul>
  </div>
  <div id="globeViz" style="width: 100%; z-index: 0;"></div>
  <div style="width: 100%; background-color: black; color: burlywood; text-align: center; position: fixed; bottom: 30px; margin-bottom: 10px;
  background: transparent;">
    <span><span id="time"></span><span>CET</span></span>
    <button id="playbtn" onclick="playpause()">Pause</button>
    <input type="range" id="curTime" name="curTime" min="0" max="9999999999999999" oninput="sliderChange(this.value)" onchange="sliderChange(this.value)" step="any" disabled
      style="width: 50%;">
    <button id="reset">ResetCamera</button>
    <div style="justify-content: space-evenly;">
      &#127881; <a href="https://globe.gl/">Globe GL</a> &#127881; <a href="https://www.smard.de/home/marktdaten">SMART</a> &#127881;  <a href="https://www.smard.de/home/marktdaten">ENTSOE</a> &#127881;
    </div>
  </div>

  <script src="/static/visualize_globe.js"></script>

</body>