<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Cryptoversum</a>

    <a class="logo mini golang" href="https://golang.org//">Golang</a>
    <a class="logo mini angular" href="https://www.angular.io/">Angular</a>
    <a class="logo mini mongo" href="https://www.mongodb.com/">Mongo</a>
    <a class="logo mini heroku" href="https://www.heroku.com/">Heroku</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sites
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://cryptomio.eu">cryptomio</a></li>
            <li><a class="dropdown-item" href="https://enaio.eu">enaio</a></li>
            <li><a class="dropdown-item" href="https://pi8.eu">pi8</a></li>
            <li><a class="dropdown-item" href="https://beachvolleypark.eu">beachvolleypark</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://teachu.eu">teachu</a></li>
<!--            <li><a href="https://patrickfodor.eu">patrick fodor</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled">Disabled</a>-->
<!--        </li>-->
      </ul>
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>
